html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/*footer*/

.developed {
    color: rgb(44, 0, 255);
    font-family: monospace;
    box-shadow: 0px 0px 14px rgba(0, 0, 255, 0.5);
    border-radius: 15px;
    padding: 0 10px 0 10px;
}

.developed:hover {
    text-decoration: none;
}

.developed::before,
.developed::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.developed::before {
    margin-right: 10px;
    content: '<';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.developed::after {
    margin-left: 10px;
    content: '/>';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.developed:hover::before,
.developed:hover::after,
.developed:focus::before,
.developed:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

.logo {
    width: 100%;
}

.table-bordered > tbody > tr > td {
    border: 1px solid #000;
    font-weight: 900;
}

.table-bordered, .table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    border: 2px solid #000;
    width: 0;
    margin: 0 auto;
}

th, tr {
    text-align: left;
}

.navbar-inverse {
    background-color: #3395e1;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .btn-link,
.dropdown-menu > li > a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .open > a {
    background-color: #2e82c4;
}

.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #00549b;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    background-color: #147dce;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #216ba5;
}

.breadcrumb {
    background-color: #ffe500;
}

.breadcrumb > .active {
    color: #e90000;
}

.dropdown-menu {
    background-color: #3caaff;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #008df9;
}

.form-control {
    box-shadow: inset 0 1px 1px rgb(51, 149, 225);
}